
<!-- add item succes msg -->
<div *ngIf="newbornStatus" class="container mt-5 text-center">
    <img width="300px " style="margin-top: 200px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6d391369321565.5b7d0d570e829.gif" alt="">
<!-- <h2 class="animate__animated animate__slideInUp">Loading... </h2> -->
</div>

<app-navbar></app-navbar>
<div *ngIf="!newbornStatus"  class="container ">
    <div class="row">
        <div class="col">
            <!-- heading -->
            <div class="text-left fs-1"
        style="  margin-top: 100px; font-weight: bold; color: #22017a; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <p class="">Corporate Events</p>
        
    </div>
<!--         
               

              
            </div>
            <!-- dummy data -->
            <p class="mt-4" style="text-align: justify;">
                This is Dummy Data: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure
                 quisquam voluptates minus culpa sed inventore, dolor assumenda labore cum, nisi 
                 temporibus incidunt cupiditate aliquid ex error nostrum laboriosam aliquam. Hic.
            </p>
        </div>
    </div>


<!-- adding form design -->
<div class="container mt-5">
    <div class="row justify-content-center" >
        <div class="col-md-6 ">
            <!-- form design -->
            <form [formGroup]="newbornAddItem" class=" p-5 bg-primary mb-5" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                

                <h5 class="mt-2 text-center text-light ">
                  <span >Adding New Events</span>
                </h5>

                <!-- id -->
                <div class="mt-5 " >
                    <input type="text" name="id" formControlName="id" placeholder="Item id" class="form-control">
                    <div *ngIf="this.newbornAddItem.get('id')?.errors && this.newbornAddItem.get('id')?.touched" class="text-danger" >ID is Required</div>
                </div>
                
                <!-- Theme -->
                <div class="mt-2">
                    <input type="text" name="theme" formControlName="theme" placeholder="Event Name" class="form-control">
                    <div *ngIf="this.newbornAddItem.get('theme')?.errors && this.newbornAddItem.get('theme')?.touched" class="text-danger" >Event is Required</div>
                </div>
                <!-- image -->
                <div class="mt-2">
                    <input type="text" name="image" formControlName="image" placeholder="Image" class="form-control" >
                    <div *ngIf="this.newbornAddItem.get('image')?.errors && this.newbornAddItem.get('image')?.touched" class="text-danger" >IMAGE is Required</div>
                </div>

                <!-- place -->
                <!-- <div class="mt-2">
                    <span>place :</span> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    <label>
                        <input type="radio" name="place" formControlName="place" value="indoor">
                        Indoor
                      </label>
                      &nbsp;&nbsp;
                      <label>
                        <input type="radio" name="place" formControlName="place" value="outdoor" >
                        Outdoor
                      </label>
                </div> -->

                <!-- budgrct-->
                <div class="mt-2">
                    <input type="text" name="budget" formControlName="budget" placeholder="Budget" class="form-control" >
                    <div *ngIf="this.newbornAddItem.get('budget')?.errors && this.newbornAddItem.get('budget')?.touched" class="text-danger" >BUDGET is Required</div>
                </div>
                 
                
                <!-- add -->
                <div class=" mt-4" style="margin-left: 7rem;" >
                    <input type="button" (click)="newbornAdd()" value="Add New" class="btn btn-success ms-4">
                    <a class="btn btn-danger ms-5" routerLink="/corporate-items">Cancel</a>
                </div>

            </form>
        </div>
        <!-- <div class="col-md-6">
            
            <img src="https://images.squarespace-cdn.com/content/v1/505bb9c284aead8d3fc2381c/16a16f1d-376d-4c68-b27d-0a0057244534/boho-wild-one-first-birthday-party-decor-azeventsbymarie?format=500w" alt="">
        </div> -->
    </div>
</div>

