
<nav class=" navbar navbar-expand-lg  fixed-top bg-opacity-100 ">
    <div class="container-fluid  ">
  
      <button style="background-color: rgb(172, 166, 166);" class="navbar-toggler " type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button> 
      <a style="margin-left:50px;" class="navbar-brand text-light" id="navigationbar" href="#">EVENTO</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav "  style="margin-left: 400px;" > 
        
         
        </div>
  
        <div class="navbar-nav d-flex justify-content-around">
  
          <div  style="margin-left: 25rem;">
  
  
          <a class="btn  text-light" data-bs-toggle="modal" data-bs-target="#staticBackdropadminlogin"
            style="border-radius: 8px;" (click)="logout()">
            <i class="fa-solid fa-user me-1" style="color: #fcfcfc;"></i>Logout </a>
  
            <a class="btn  text-light" data-bs-toggle="modal" data-bs-target="#staticBackdropadminlogin"
            style="border-radius: 8px; " routerLink="/admin-login">
            <i class="fa-solid fa-user" style="color: #fcfcfc;"></i> Admin</a>
          </div>
  
        </div>
  
        
      </div> 
    </div>
  </nav>
  
  
  
  