<nav class=" navbar navbar-expand-lg bg-dark fixed-top bg-opacity-100 ">
  <div class="container-fluid  ">

    <button style="background-color: rgb(172, 166, 166);" class="navbar-toggler " type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button> 
    <a style="margin-left:50px;" class="navbar-brand text-light" id="navigationbar" href="#">EVENTO</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav "  style="margin-left: 300px;" > 
        <a class="nav-link active text-light" aria-current="page" href="#">HOME</a>
        <a class="nav-link active text-light" href="#about" >ABOUT</a>
        <a class="nav-link active text-light" href="#serviceView">SERVICE</a>

        <a class="nav-link active text-light "  href="#galleryView">GALLERY</a>

        <a class="nav-link active text-light" href="#footer">CONTACT</a>
      </div>

      <div class="navbar-nav d-flex justify-content-around">

        <div  style="margin-left: 15rem;">


        <a class="btn  text-light" data-bs-toggle="modal" data-bs-target="#staticBackdropadminlogin"
          style="border-radius: 8px;" routerLink="/login">
          <i class="fa-solid fa-user me-1" style="color: #fcfcfc;"></i>Login </a>

          <a class="btn  text-light" data-bs-toggle="modal" data-bs-target="#staticBackdropadminlogin"
          style="border-radius: 8px; " routerLink="/admin-login">
          <i class="fa-solid fa-user" style="color: #fcfcfc;"></i> Admin</a>
        </div>

      </div>

      
    </div> 
  </div>
</nav>



