
<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row text-center">

    <h2 class="mt-5 fs-1" style="font-family: Gill Sans Extrabold sans-serif;">
      Social Event
    </h2>

  </div>
  <div class=" mt-5">
    <p>This is Dummy Data: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus sed similique nesciunt
      quia fuga. Qui numquam nisi cum atque deserunt, mollitia, magni impedit beatae eaque commodi dolore iure harum
      ipsam Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi recusandae cum doloremque, repudiandae dolor
      modi velit fuga ipsa consequatur optio saepe voluptas, asperiores facere tenetur? Illum, corrupti. Aliquid,
      reprehenderit rerum!</p>
  </div>


  <div class="container mt-1">

    <div class="row mt-1">
      <div class="content text-center mt-1">
        <h4 class="mt-4 text-center" style="font-family: Gill Sans Extrabold sans-serif; ">
          For Booking
        </h4>

      </div>
    </div>

  </div>

  <div class="row mt-5 ">
    <div >
      <form [formGroup]="ceremonybookForm" class="border rounded p-5" style="background-color: rgb(27, 26, 26);">


        <div class="row mt-4  mb-5 text-white">
          <!-- name -->
          <div class="col-auto">
            <label>Name:</label>
          </div>
          <div class="col-auto w-100">
            <input type="text" class="form-control" name="username" formControlName="username" required>
          </div>
          <!-- number -->
          <div class="col-auto mt-2">
            <label>Number:</label>
          </div>
          <div class="col-auto mt-2 w-100">
            <input type="text" class="form-control" name="mobile" formControlName="mobile">
          </div>
          <div *ngIf="ceremonybookForm.get('mobile')?.errors &&  this.ceremonybookForm.get('mobile')?.touched"
            class="text-danger " style="margin-left:8rem ;">Please Enter Valid Phone Number</div>
          <!-- email -->
          <div class="col-auto mt-2">
            <label>Email:</label>
          </div>
          <div class="col-auto mt-2 w-100">
            <input type="text" class="form-control" name="email" formControlName="email">
          </div>
          <div *ngIf="ceremonybookForm.get('email')?.errors &&  this.ceremonybookForm.get('email')?.touched"
            class="text-danger " style="margin-left:8rem ;">Please Enter Valid MailId</div>
          <!-- address -->
          <div class="col-auto mt-2">
            <label>Address:</label>
          </div>
          <div class="col-auto mt-2 w-100">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="address"
              formControlName="address" required></textarea>
          </div>
          <!-- date of event -->
          <div class="col-auto mt-2">
            <label>Date of Event:</label>
          </div>
          <div class="col-auto mt-2 w-100">
            <input type="date" class="form-control" name="doe" formControlName="doe">
          </div>
          <div *ngIf="ceremonybookForm.get('doe')?.errors &&  this.ceremonybookForm.get('doe')?.touched"
            class="text-danger " style="margin-left:8rem ;">Date of Event is Required</div>

          <!-- event -->
          <label class="mt-3">Event:</label>

          <div class="col-auto  w-100">
            <select class="form-control" name="event" formControlName="event">
              <option selected hidden disabled value="">Select a Event</option>
              <option value="Birthday Parties">Birthday Parties</option>
              <option value="Seasonal Celebrations">Seasonal Celebrations</option>
              <option value="Anniversary Parties">Anniversary Parties</option>
              <option value="Retirement Parties">Retirement Parties</option>

              <!-- <option value="Black Forset Cake">Black Forset Cake</option> -->
            </select>
          </div>
          <div *ngIf="ceremonybookForm.get('event')?.errors &&  this.ceremonybookForm.get('event')?.touched"
            class="text-danger " style="margin-left:8rem ;">Package is Required</div>


          <!-- place -->
          <div class=" row mt-3 w-100">
            <span>Place :</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
              <input type="radio" name="place" formControlName="place" value="Indoor">
              Indoor
            </label>
            &nbsp;&nbsp;
            <label>
              <input type="radio" name="place" formControlName="place" value="Outdoor">
              Outdoor
            </label>
            &nbsp;&nbsp;

          </div>
          <div *ngIf="ceremonybookForm.get('place')?.errors &&  this.ceremonybookForm.get('place')?.touched"
            class="text-danger " style="margin-left:8rem ;">Place is Required</div>
          <!-- package -->
          <div class="col-auto mt-2">
            <label>Package:</label>
          </div>
          <div class="col-auto mt-2 w-100">
            <input type="text" class="form-control" placeholder="Premium  or  Economy" name="packag" formControlName="packag">
          </div>


          <div *ngIf="ceremonybookForm.get('packag')?.errors &&  this.ceremonybookForm.get('packag')?.touched"
            class="text-danger " style="margin-left:8rem ;">Package is Required</div>


          <div class="btn btn-warning mt-4  " (click)="ceremonyBook()"> BOOK</div>

        </div>

        <!-- <button id="bookbtn" (click)="ceremonyBook()" class="btn btn-dark">Book</button> -->
      </form>
    </div>

  </div>

</div>
<app-footer></app-footer>