
<!-- <div class="container mt-3">
  <div class="row ">
    <h6 class="text-center"
      style=" width: 500px; margin: 10px 320px  20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
      <span style="background: white;padding: 0 10px;">NEWBORN MEMORIES</span>
    </h6>
    <h3 class="text-center">ADMIN REGISTER</h3>
  </div>

  <div class="login mt-2 bg-dark text-center"
    style="width: 380px;height: 470px;border-radius: 20px;margin-left: 390px;">
    <i class="fa-solid fa-circle-user" style="color: #f2f2f2;font-size: 100px;margin-top: 20px;"></i>
    <div class="mt-2">
      <h6 class="text-center"
        style="margin: 10px 50px 20px; line-height: 2px;border-bottom: 1px solid white;text-align: center;">
        <span class="bg-dark text-light text-center" style="padding: 0 10px;">REGISTRATION</span>
      </h6>

    </div>

    <form [formGroup]="adminRegisterForm">

      <input type="text" placeholder="Name" name="adminName" formControlName="adminName" class="form-control mt-2 ms-4"
        style="width: 320px;margin-left: 20px;"> -->
<!-- name validation 
      <div *ngIf="this.adminRegisterForm.get('adminName')?.errors && this.adminRegisterForm.get('adminName')?.touched"
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Name is Reqired</div>


      <input type="password" placeholder="Password" name="adminPswd" formControlName="adminPswd"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
      <!-- pswd validation 
      <div *ngIf="this.adminRegisterForm.get('adminPswd')?.errors && this.adminRegisterForm.get('adminPswd')?.touched"
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Password is Reqired</div>


      <input type="text" placeholder="Mobile Number" name="adminMobile" formControlName="adminMobile"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
       mobile validation
      <div
        *ngIf="this.adminRegisterForm.get('adminMobile')?.errors && this.adminRegisterForm.get('adminMobile')?.touched"
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">
        Invalid Mobile number please enter 10 digit Number</div>

      <input type="text" placeholder="Email" name="adminEmail" formControlName="adminEmail"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
      <!-- email validation 
      <div *ngIf="this.adminRegisterForm.get('adminEmail')?.errors && this.adminRegisterForm.get('adminEmail')?.touched"
        class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Invalid email</div>

      <input type="text" placeholder="Add your image" name="adminimage" formControlName="adminimage"
        class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">

      <button (click)="adminRegister()" class="btn btn-light text-dark mt-3">Register</button>
      <br>
      <div class="text-center">
        <span class="ms-2 text-light text-center">Already have account ? <a routerLink="/admin-login"
            class="text-light">login</a></span>
      </div>
    </form>

  </div>

</div>


<!-- ======================================= -->

  <section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://img.freepik.com/free-vector/event-manager-typographic-header-celebration-meeting-organization-planning-pr-company-business-mass-media-social-network-promotion-isolated-vector-illustration_613284-2078.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 44%, 0.219);
        backdrop-filter: blur(30px);
        ">
      <div class="card-body py-5 px-md-5">

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form [formGroup]="adminRegisterForm">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" placeholder="Name" name="adminName" formControlName="adminName"
                      class="form-control mt-2 ">
                    <!-- name validation  -->
                    <div
                      *ngIf="this.adminRegisterForm.get('adminName')?.errors && this.adminRegisterForm.get('adminName')?.touched"
                      class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Name is Reqired</div>
                  </div>
                </div>


                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" placeholder="Mobile Number" name="adminMobile" formControlName="adminMobile"
                      class="form-control mt-2">
                    <!-- mobile validation -->
                    <div
                      *ngIf="this.adminRegisterForm.get('adminMobile')?.errors && this.adminRegisterForm.get('adminMobile')?.touched"
                      class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">
                      Invalid Mobile number please enter 10 digit Number</div>

                  </div>
                </div>
              </div>





              <!-- Email input -->
              <div class="form-outline mb-4">


                <input type="text" placeholder="Email" name="adminEmail" formControlName="adminEmail"
                  class="form-control mt-2 ">
                <!-- email validation-->
                <div
                  *ngIf="this.adminRegisterForm.get('adminEmail')?.errors && this.adminRegisterForm.get('adminEmail')?.touched"
                  class="text-danger mb-2" style="margin-left:  20px;font-size: 13px;">Invalid email</div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" placeholder="Password" name="adminPswd" formControlName="adminPswd"
                  class="form-control mt-2 ">
                <!--pswd validation  -->
                <div
                  *ngIf="this.adminRegisterForm.get('adminPswd')?.errors && this.adminRegisterForm.get('adminPswd')?.touched"
                  class="text-danger mb-2" style="margin-left: 20px;font-size: 13px;">Password is Reqired</div>

              </div>

              <div class="form-outline mb-4">
                <input type="text" placeholder="Add your image" name="adminimage" formControlName="adminimage"
                  class="form-control mt-2 ms-4" style="width: 320px;margin-left: 20px;">
              </div>


              <!-- Submit button -->
              <button type="submit" (click)="adminRegister()" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>


              <div class="text-center">
                <span class="ms-2 text-dark text-center">Already have account ? <a routerLink="/admin-login"
                    class="text-primary">login</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Section: Design Block -->