<div class="content text-center">
    <h6 class="mt-5 text-center" style="width: 450px; margin: 10px 400px 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
        <span style="background: white;padding: 0 10px;">OUR EVENTS</span>
      </h6>
      <h4 class="text-center mt-4" style="font-family: 'My Soul', cursive;font-weight: 200px;">
      Make Your Memories With Us
      </h4>
    </div>
  

    <!-- newborn -->
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-6 mt-5 ">
            <!-- <video style="margin-top: 60px;" 
             width="450px" height="330px" controls="controls" >
                <source src="https://youtu.be/EfKZSG1iJF4" type="video/mp4">
           </video> -->



<!-- <video src="https://youtu.be/EfKZSG1iJF4"></video> -->





           <iframe style="margin-top: 60px;" width="450px" height="330px" src="https://www.youtube.com/embed/EfKZSG1iJF4" title="Studio Newborn Session 2023 - Sunny S-H Photography" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           
        </div>
        <div class="col-6">
            <h6 class="mt-5" style="margin: 10px 0 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
                <span style="background: white;padding: 0 10px;">EVENTS</span>
              </h6>
              <h3 class="text-center" style="font-family: 'My Soul', cursive;font-weight: 200px;">Baby Shoot</h3>
    <div class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium itaque quam,
               est soluta ducimus debitis. Voluptatem obcaecati eaque dolores mollitia sed,
               aperiam soluta consequatur quisquam saepe, dolorem, facilis aliquam! <br> <br> 
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi velit 
               mollitia praesentium laborum reprehenderit quo ut provident, expedita pariatur 
               adipisci sed accusamus optio, rem, veritatis officia alias porro sapiente.
   <br>
               <!-- <a style="margin-left: 200px;margin-top: 30px;"
               class="btn btn-dark" routerLink="/newborn">For Booking</a> -->
    </div>
        </div>
    </div>
</div>

<!-- naming cermony -->

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-6 mt-5">
            <h6 class="mt-5" style="margin: 10px 0 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
                <span style="background: white;padding: 0 10px;">EVENTS</span>
              </h6>
              <h3 class="text-center" style="font-family: 'My Soul', cursive;font-weight: 200px;">Naming Ceremony</h3>
    <div class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium itaque quam,
               est soluta ducimus debitis. Voluptatem obcaecati eaque dolores mollitia sed,
               aperiam soluta consequatur quisquam saepe, dolorem, facilis aliquam! <br> <br> 
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi velit 
               mollitia praesentium laborum reprehenderit quo ut provident, expedita pariatur 
               adipisci sed accusamus optio, rem, veritatis officia alias porro sapiente.

               <br>
               <!-- <a style="margin-left: 200px;margin-top: 30px;"
               class="btn btn-dark" routerLink="/ceremony">For Booking</a> -->
    </div>
           
        </div>
        <div class="col-6">
            <!-- <video style="margin-left: 110px;margin-top: 160px;"
            width="450px" height="330px"  controls="controls">
                <source src="" type="video/mp4">
           </video> -->
           <iframe style="margin-left: 110px;margin-top: 160px;" width="450px" height="330px" src="https://www.youtube.com/embed/bF7a5Nm64d0" title="NILA&#39;S NAMING CEREMONY | NILA SRINISH | PEARLE MAANEY | SRINISH ARAVIND" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- bday party -->

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-6 mt-5">
           
            
                <!-- <video 
                width="450px" height="330px" style="margin-top: 60px;"
                 preload="auto" controls>
                    <source src="https://www.youtube.com/watch?v=2VhHfNxRx58" type="video/mp4">
                </video> -->

                <iframe style="margin-top: 60px;" width="450px" height="330px" src="https://www.youtube.com/embed/2VhHfNxRx58" title="Nila Turns One !!!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
               

        </div>
        <div class="col-6">
            <h6 class="mt-5" style="margin: 10px 0 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
                <span style="background: white;padding: 0 10px;">EVENTS</span>
              </h6>
              <h3 class="text-center" style="font-family: 'My Soul', cursive;font-weight: 200px;">Birthday Event</h3>
    <div class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium itaque quam,
               est soluta ducimus debitis. Voluptatem obcaecati eaque dolores mollitia sed,
               aperiam soluta consequatur quisquam saepe, dolorem, facilis aliquam! <br> <br> 
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi velit 
               mollitia praesentium laborum reprehenderit quo ut provident, expedita pariatur 
               adipisci sed accusamus optio, rem, veritatis officia alias porro sapiente.

               <br>
               <!-- <a style="margin-left: 200px;margin-top: 30px;"
               class="btn btn-dark" routerLink="/bday">For Booking</a> -->
    </div>
        </div>
    </div>
</div>
