<div class="container mt-3">
    <div class="row">
        <div class="col">
            <!-- heading -->
            <div class="row text-center mt-5">
        
                <h2 class="mt-2 " style="width: 450px; margin: 10px 330px 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
                  <span style="background: white;padding: 0 10px;">BIRTHDAY EVENT</span>
                </h2>
                <h3 class="mt-3" style="font-family: 'My Soul', cursive;font-weight: 200px;">
                We Make The Best  MEmories Ever
                </h3>
            </div>
            <!-- dummy data -->
            <p class="mt-4" style="text-align: justify;">
                This is Dummy Data: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure
                 quisquam voluptates minus culpa sed inventore, dolor assumenda labore cum, nisi 
                 temporibus incidunt cupiditate aliquid ex error nostrum laboriosam aliquam. Hic.
            </p>
        </div>
    </div>
</div>

<!-- adding form design -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- form design -->
            <form class="border rounded p-5"  style="background-color: rgb(188, 185, 185);">

                <h5 class="mt-2 " style="width: 450px; margin: 10px 0px 20px; line-height: 2px;border-bottom: 1px solid black;text-align: center;">
                    <span style="background: rgb(188, 185, 185);padding: 0 10px;">Edit Item</span>
                </h5>

                <!-- id -->
                <div class="mt-4">
                    <input type="text" placeholder="Item id" class="form-control">
                </div>
                <!-- Theme -->
                <div class="mt-2">
                    <input type="text" placeholder="Theme" class="form-control">
                </div>
                <!-- image -->
                <div class="mt-2">
                    <input type="text" placeholder="Image" class="form-control">
                </div>
                <!-- Food -->
                <div class="mt-2">
                    <input type="text" placeholder="dessert" class="form-control">
                </div>
                 <!-- service -->
                <div class="mt-2">
                    <select  class="form-control">
                        <option selected hidden disabled>Choose Cake</option>
                       <option value="Chocolate Cake">Chocolate Cake</option>
                       <option value="Vancho Cake">Vancho Cake</option>
                       <option value="Red Velvet Cake">Red Velvet Cake</option>
                       <option value="Black Forset Cake">Black Forset Cake</option>
                    </select>
                </div>
                <!-- price -->
                <div class="mt-2">
                    <input type="text" placeholder="price" class="form-control">
                </div>
                <!-- price -->
                <div class="mt-4" style="margin-left: 7rem;">
                    <input type="button" value="Update" class="btn btn-dark">
                    <a class="btn btn-dark ms-5" routerLink="/all-items">Cancel</a>
                </div>

            </form>
        </div>
        <!-- <div class="col-md-6">
            image
            <img src="https://images.squarespace-cdn.com/content/v1/505bb9c284aead8d3fc2381c/16a16f1d-376d-4c68-b27d-0a0057244534/boho-wild-one-first-birthday-party-decor-azeventsbymarie?format=500w" alt="">
        </div> -->
    </div>
</div>

